.sticky-cta-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; 
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.cta-content {
  justify-content: flex-start;
}

.cta-buttons {
  justify-content: flex-end;
  display: flex;
  gap: 15px;
  align-items: center;
}
.cta-content {
  h2 {
    margin: 0 0 8px 0; 
    font-size: 24px;
    font-weight: 600;
    color: #333;
  }
}

.cta-apply-now {
  background-color: #48bf84;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-download-syllabus {
  background-color: transparent;
  color: #333;
  border: 2px solid #ddd;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.3s;
}

@media screen and (max-width: 768px) {
  .sticky-cta-container {
    grid-template-columns: 1fr;
  }

  .cta-content {
    justify-content: center;
    h2 {
      font-size: 18px;
      text-align: center;
    }
  }
  .cta-duration {
    display: none;
  }
  .cta-rating {
    justify-content: center;
    margin-bottom: 16px !important;
  }
  .cta-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
}

body {
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background-color: rgba(72, 191, 132, 0.3) !important;
  opacity: 1 !important;
  width: 12px !important;
  height: 12px !important;
  margin: 0 6px !important;
  transition: all 0.3s ease !important;
}

.swiper-pagination-bullet-active {
  background-color: #48bf84 !important;
  transform: scale(1.2) !important;
}